<html style="height: 400vh">
	<head>
		<title><%=title%></title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/CSS/news.css">
    <link rel="stylesheet" href="/static/CSS/barstyle.css">
    <link rel="stylesheet" href="/static/CSS/textstyle.css">
        
        
	</head>
    <body style="margin: 0;padding: 0;">
        <ul id=csie>
            <h1><big><big><big><big><big>CSIE</big></big></big></big></big></h1>
        </ul>
        <div style="width: 100vw;height: 100vh;float:left;background-color:#002533;color:white;text-align:center;line-height: 100vh; font-size: 45px">
            <big><big><big> >echo csie_ </big></big></big>
        </div>
        <div class="navbar">
        <div class="fixbar" id="home">
            <a class=nav-link>
                CSIE
            </a>
        </div>
        <div class="fixbar" id="news">
            <a class=nav-link>
                News
            </a>
        </div>
        <div class="fixbar" id="project">
            <a class=nav-link>
                Project
            </a>
        </div>
        <div class="fixbar" id="about">
            <a class=nav-link>
                About
            </a>
        </div>
        <div class="fixbar" id="facebook">
            <a class=nav-link>
                Facebook
            </a>
        </div>
        </div>
        <!--news-->
        <div class="container-fluid" style="width: 100vw;height: 100vh;float:left">
            <div style="height: 80vh;" class="pt-3">
            	<h3 class="text-center" style="color: #002533;">News</h3>
            	<hr class="striped-border">
              <div id="events_body" class="pt-3">
                        
              </div>
            </div>
            <div style="height:10vh;" class="row justify-content-center">
            	<div class="col col-2 text-center align-self-center">
                <button class="btn-sm previous" onclick="events_previouspage();">上一頁</button>
              </div>
              <div class="col-auto align-self-center">
                <span id="events_curPage">目前頁數：1</span>
                <span id="events_totalPage"> / 總共頁數：<%= Math.ceil(Events_TotalPage[0].count/10) %></span>
              </div>
              <div class="col col-2 text-center align-self-center">
                <button class="btn-sm next" onclick="events_nextpage();">下一頁</button>
              </div>
          	</div>
        </div>
        <!--project-->
        <div class="container-fluid" style="width: 100vw;height: 100vh;float:left;">
            <div class="pt-3">
            	<h3 class="text-center" style="color: #002533;">Project</h3>
            	<hr class="striped-border">
            </div>
            <div class="row justify-content-center small">
            	<div class="col-3 border-right" style='overflow-y: scroll;height: 75vh;'>
            		<dl class="row no-gutters">
            			<% for( var i = 0 ; i < Projects.length; i++){ %>
            			<dd class="col-4">
            				<a class="nav-link px-0" id="project<%= Projects[i].ProjectID %>" href="javascript: projects_getData(<%= Projects[i].ProjectID %>);">
            					<!-- ＸＸＸＸ -->
            					<%= Projects[i].ProfessorName_ZH %>
          					</a>
            			</dd>
            			<% } %>
            		</dl>
            	</div>
            	<div class="col-4" id="project_body">
            		<dl class="row">
            			<dd class="col pt-2">Please click professor's name</dd>
            		</dl>
            	</div>
            </div>
        </div>
        <!--about-->
        <div class="container-fluid" style="width: 100vw;height: 100vh;float:left;">
        	<div class="pt-3">
	        	<h3 class="text-center" style="color: #002533;">About</h3>
	          <hr class="striped-border">
	        </div>
        	<div class="row justify-content-center">
            <div class="col-3">
            	<div class="card">
            		<img src="https://i.imgur.com/1TBBvKj.jpg" style="height: 50vh;">
            	</div>
            	<div class="row py-4"></div>
          		<div class="row justify-content-end pr-3"><strong>Link</strong></div>
              <div class="row justify-content-end pr-3">
                  <a href="https://www.facebook.com/NTU.CSIE.Council/">系學會粉專</a>
              </div>
              <div class="row justify-content-end pr-3">
                  <a href="https://www.csie.ntu.edu.tw/">台大資工官網</a>
              </div>
                
                
            </div>
            <div class="col-4 small">
            	<div class="row">
            		<div class="col-3">會長</div>
            		<div class="col-3">XXX</div>
            		<div class="col-3">副會長</div>
            		<div class="col-3">XXX</div>
          		</div>
          		<div class="row">
            		<div class="col-3">執秘</div>
            		<div class="col-3">XXX</div>
            		<div class="col-3">總務</div>
            		<div class="col-3">XXX</div>
          		</div>

          		<div class="row pt-1">
          			<div class="col">活動部</div>
          		</div>
          		<div class="row">
          			<div class="col-3">部長</div>
          			<div class="col-3">XXX</div>

          		</div>
          		<div class="row">
          			<div class="col-3">部員</div>
          			<div class="col-2">
          				ＸＸＸ <br> XXX <br> XXX
          			</div>
          			<div class="col-2">
          				XXX <br> XXX <br>
          			</div>
          			<div class="col-2">
          				XXX <br> XXX <br>
          			</div>
          			<div class="col-2">
          				XXX <br> XXX <br>
          			</div>
          		</div>

          		<div class="row pt-1">
          			<div class="col">學術部</div>
          		</div>
          		<div class="row">
          			<div class="col-3">部長</div>
          			<div class="col-3">XXX</div>

          		</div>
          		<div class="row">
          			<div class="col-3">部員</div>
          			<div class="col-2">
          				XXX <br> XXX <br> XXX
          			</div>
          			<div class="col-2">
          				XXX <br> XXX <br>
          			</div>
          			<div class="col-2">
          				XXX <br> XXX <br>
          			</div>
          			<div class="col-2">
          				XXX <br> XXX <br>
          			</div>
          		</div>
          		
          		<div class="row pt-1">
          			<div class="col">體育部</div>
          		</div>
          		<div class="row">
          			<div class="col-3">部長</div>
          			<div class="col-3">XXX</div>

          		</div>
          		<div class="row">
          			<div class="col-3">部員</div>
          			<div class="col-2">
          				XXX <br> XXX <br>
          			</div>
          			<div class="col-2">
          				XXX <br> XXX <br>
          			</div>
          			<div class="col-2">
          				XXX <br> XXX <br>
          			</div>
          			<div class="col-2">
          				XXX <br> 
          			</div>
          		</div>

          		<div class="row pt-1">
          			<div class="col">事務部</div>
          		</div>
          		<div class="row">
          			<div class="col-3">部長</div>
          			<div class="col-3">XXX</div>

          		</div>
          		<div class="row">
          			<div class="col-3">部員</div>
          			<div class="col-2">
          				XXX <br> XXX <br>
          			</div>
          			<div class="col-2">
          				XXX <br> XXX <br>
          			</div>
          			<div class="col-2">
          				XXX <br> XXX <br>
          			</div>
          			<div class="col-2">
          				XXX <br> 
          			</div>
          		</div>

          		<div class="row pt-1">
          			<div class="col">公關部</div>
          		</div>
          		<div class="row">
          			<div class="col-3">部長</div>
          			<div class="col-3">XXX</div>

          		</div>
          		<div class="row">
          			<div class="col-3">部員</div>
          			<div class="col-2">
          				XXX <br> XXX 
          			</div>
          			<div class="col-2">
          				XXX <br> XXX 
          			</div>
          			<div class="col-2">
          				XXX <br> 
          			</div>
          			<div class="col-2">
          				XXX  
          			</div>
          		</div>

          		<div class="row pt-1">
          			<div class="col">美宣部</div>
          		</div>
          		<div class="row">
          			<div class="col-3">部長</div>
          			<div class="col-3">XXX</div>

          		</div>
          		
            </div>
          </div>
        </div>
        <script src="/static/Javascripts/jquery.min.js"></script>
        <script src="/static/Javascripts/ajax.js"></script>
        <script src="/static/Javascripts/scroll.js"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        </body>
</html>