<html style="height: 500vh">
	<head>
		<title><%=title%></title>
		<link rel="stylesheet" href="/static/CSS/news.css">
        <link rel="stylesheet" href="/static/CSS/barstyle.css">
        <link rel="stylesheet" href="/static/CSS/textstyle.css">
        <link rel="stylesheet" href="/static/CSS/photopage.css">
        
        <script src="/static/Javascripts/ejs.js"></script>
        <script src="/static/Javascripts/jquery.min.js"></script>
        <script src="/static/Javascripts/ajax.js"></script>
        <script src="/static/Javascripts/scroll.js"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	</head>
    <body style="margin: 0;padding: 0;">
        <ul id=csie>
            <h1><big><big><big><big><big>CSIE</big></big></big></big></big></h1>
        </ul>
        <div style="width: 100vw;height: 100vh;float:left;background-color:#002533;color:white;text-align:center;line-height: 100vh">
            <h1 style="margin-top: 0";><big><big><big> >echo csie_ </big></big></big></h1>
        </div>
        <a id="news">
            <p style="margin-top: 0">
                news
            </p>
        </a>
        <a id="project">
            <p style="margin-top: 0">
                project
            </p>
        </a>
        <a id="photo">
            <p style="margin-top: 0">
                photo
            </p>
        </a>
        <a id="intro">
            <p style="margin-top: 0">
                intro
            </p>
        </a>
        <a id="facebook">
            <p style="margin-top: 0">
                facebook
            </p>
        </a>
        <!--news-->
        <div class="page1"; style="width: 100vw;height: 100vh;float:left">
            <div style="height: 80vh;">
                <table borr="0"; style="width: 100vw;height: 80vh;" id="newstable">
                    <thead>
                        <tr>
                            <th class="col_1">類別</th>
                            <th class="col_2">標題</th>
                            <th class="col_3">發佈日期</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <% var page=0 %>
                        <% for( var i = page*10 ; i < Events.length && i < page*10+10; i++){ %>
                            <tr>
                                <td align="center" valign="center" class="col_1">
                                    <%= Events[i].EventID %> 
                                </td>
                                <td align="center" valign="center" class="col_2">
                                <a>
                                    <%= Events[i].EventName %> <!--主旨-->
                                </a>
                                </td>
                                <td align="center" valign="center" class="col_3">
                                    <%= Events[i].CreateDate %>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div style="height:20vh; text-align: center;">
                <button class="button_news previous" onclick="previouspage()">上一頁</button>

                <a id="pages">目前頁數：<%= page+1 %>/ 總共頁數：<%=Math.ceil(Events.length/10)%></a>

                <button class="button_news next" onclick="nextpage()">下一頁</button></td>
            </div>
        </div>
        <!--project-->
        <div style="width: 100vw;height: 100vh;float:left;">
            <table border="0"; style="width: 70vw">
                <thead>
                    <tr>
                        <th class="col_1">作者</th>
                        <th class="col_2">標題</th>
                        <th class="col_3">發佈日期</th>
                    </tr>
                </thead>
                <tbody>
                    <% var page=0 %>
                    <% for( var i = page*10 ; i < Projects.length && i < page*10+10; i++){ %>
                    	<tr>
                    		<td align="center" valign="center" class="col_1">
                    			<%= Projects[i].ProjectID %>
                    		</td>
	                    	<td align="center" valign="center" class="col_2">
	                        <a>
	                        	<%= Projects[i].LabName %>		
	                        </a>
	                        </td>
	                        <td align="center" valign="center" class="col_3">
	                        	<%= Projects[i].Description %>
	                    	</td>
	                    </tr>
                   	<% } %>
                </tbody>
            </table>
            <div style="height:20vh; text-align: center;">
                <button class="button_news previous" onclick="previouspage()">上一頁</button>

                <a id="pages">目前頁數：<%= page+1 %>/ 總共頁數：<%=Math.ceil(Projects.length/10)%></a>

                <button class="button_news next" onclick="nextpage()">下一頁</button></td>
            </div>
        </div>
        <!--photo-->
        <div style="width: 100vw;height: 100vh;float:left;">
            <table class="photo_HOME">
                <tr>
                    <td class="cell">
                    <a href="https://i.imgur.com/1TBBvKj.jpg">
                        <img src="https://i.imgur.com/1TBBvKj.jpg"></a>
                    </td>
                    <td class="cell"></td>
                </tr>
                <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                </tr>
            </table>
        </div>
        <!--intro-->
        <div style="width: 100vw;height: 100vh;float:left;">
            <div style="width: 20vw;height: 100vh;float:left;">
                <h3>
                    系所介紹
                </h3>
                <p>子項目1</p>
                <p>子項目2</p>
                <h3 >
                    系學會各部門介紹
                </h3>
                <p>活動部</p>
                <p>學術部</p>
                <p>體育部</p>
                <p>公關部</p>
                <p>事務部</p>
                <p>美宣部</p>
                <h3>
                    相關網站
                </h3>
                <p>
                    <a href="https://www.facebook.com/NTU.CSIE.Council/">系學會粉專</a>
                </p>
                <p>
                    <a href="https://www.csie.ntu.edu.tw/">台大資工官網</a>
                </p>
            </div>
            <div style="width:80vw;">
                <h2>
                    活動部
                </h2>
                <h3>介紹</h3>
                <p>AAAAABBBCCCDDEFEFVFEFFERFVFEFVFEWEVF</p>
                <table border="1" style="width: 60vw">
                    <thead>
                        <h3>成員</h3>
                    </thead>
                    <tbody>
                        <tr>
                            <td>成員1</td>
                            <td>成員2</td>
                        </tr>
                        <tr>
                            <td>成員3</td>
                            <td>成員4</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </body>
</html>