<html style="height: 580vh">
	<head>
		<title><%=title%></title>
		<link rel="stylesheet" href="css/news.css">
        <link rel="stylesheet" href="css/barstyle.css">
        <link rel="stylesheet" href="textstyle.css">
        <link rel="stylesheet" href="photopage.css">
        
        <script src="ejs.js"></script>
        <script src="jquery.min.js"></script>
        <script src="scripts/ajax.js"></script>
        <script src="scripts/scroll.js"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script>
        $(function(){
            var $frontpage = $('#frontpage'),
                $news = $('#news'),
                $mylocker = $('#mylocker'),
                $project = $('#project'),
                $photo = $('#photo'),
                $intro = $('#intro'),
                gospeed = 800;
            $frontpage.click(function(e){
                $('html,body').animate({scrollTop:0},gospeed);
            });
            $news.click(function(e){
                $('html,body').animate({scrollTop:550},gospeed);
            });
            $mylocker.click(function(e){
                $('html,body').animate({scrollTop:1100},gospeed);
            });
            $project.click(function(e){
                $('html,body').animate({scrollTop:1650},gospeed);
            });
            $photo.click(function(e){
                $('html,body').animate({scrollTop:2200},gospeed);
            });
            $intro.click(function(e){
                $('html,body').animate({scrollTop:2750},gospeed);
            });
        });
        </script>
	</head>
    <body style="margin: 0;padding: 0;">
        <ul id="csie">
            <h1><big><big><big><big><big>CSIE</big></big></big></big></big></h1>
        </ul>
        <div style="width: 100vw;height: 95vh;float:left;background-color:black;color:white">
            <p style="margin-top: 0">
                visitor@csie.ntu.edu.tw [~]
            </p>
        </div>
        <a id="frontpage">
            <p style="margin-top: 0">
                | front page
            </p>
        </a>
        <a id="news">
            <p style="margin-top: 0">
                | news
            </p>
        </a>
        <a id="mylocker">
            <p style="margin-top: 0">
                | my_locker
            </p>
        </a>
        <a id="project">
            <p style="margin-top: 0">
                | project
            </p>
        </a>
        <a id="photo">
            <p style="margin-top: 0">
                | photo
            </p>
        </a>
        <a id="intro">
            <p style="margin-top: 0">
                | intro
            </p>
        </a>
        <!--news-->
        <div class="page1"; style="width: 100vw;height: 95vh;float:left">
            <table borr="0"; style="width: 80vw;" id="newstable">
                <thead>
                    <tr>
                        <th class="col_1">類別</th>
                        <th class="col_2">標題</th>
                        <th class="col_3">發佈日期</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <% for(var i=0; i<news_type.length; i++){%>
                    	<tr>
                    		<td align="center" valign="center" class="col_1">
                    			<%= Events[i].EventName %> <!--主旨-->
                    		</td>
	                    	<td align="center" valign="center" class="col_2">
	                        <a>
	                        	<%= Events[i].CreateDate %>	
	                        </a>
	                        </td>
	                        <td align="center" valign="center" class="col_3">
	                        	<%= news_time[i] %>
	                    	</td>
	                    </tr>
                   	<% } %>
                    <tr>
                        <td><button class="button_news previous" onclick="previouspage()">上一頁</button></td>
                        <td><button class="button_news next" onclick="nextpage()">下一頁</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--my locker-->
         <div style="width: 100vw;height: 95vh;float:left;color:white;background-color: black">
            <h1 style="margin-top: 0">
                My locker
            </h1>
        </div>
        <!--project-->
        <div style="width: 100vw;height: 95vh;float:left;">
            <table border="0"; style="width: 70vw">
                <thead>
                    <tr>
                        <th class="col_1">作者</th>
                        <th class="col_2">標題</th>
                        <th class="col_3">發佈日期</th>
                    </tr>
                </thead>
                <tbody>
                	 <% for(var i=0; i<project_name.length; i++){%>
                    	<tr>
                    		<td align="center" valign="center" class="col_1">
                    			<%= project_name[i] %>
                    		</td>
	                    	<td align="center" valign="center" class="col_2">
	                        <a>
	                        	<%= project_title[i] %>		
	                        </a>
	                        </td>
	                        <td align="center" valign="center" class="col_3">
	                        	<%= project_time[i] %>
	                    	</td>
	                    </tr>
                   	<% } %>
                </tbody>
            </table>
        </div>
        <!--photo-->
        <div style="width: 100vw;height: 95vh;float:left;">
            <table class="photo_HOME">
                <tr>
                    <td class="cell">
                    <a href="https://i.imgur.com/1TBBvKj.jpg">
                        <img src="https://i.imgur.com/1TBBvKj.jpg"></a>
                    </td>
                    <td class="cell"></td>
                </tr>
                <tr>
                    <td class="cell"></td>
                    <td class="cell"></td>
                </tr>
            </table>
        </div>
        <div style="width: 100vw;height: 95vh;float:left;">
            <div style="width: 20vw;float:left;">
                <h3>
                    系所介紹
                </h3>
                <p>子項目1</p>
                <p>子項目2</p>
                <h3 >
                    系學會各部門介紹
                </h3>
                <p>活動部</p>
                <p>學術部</p>
                <p>體育部</p>
                <p>公關部</p>
                <p>事務部</p>
                <p>美宣部</p>
                <h3>
                    相關網站
                </h3>
                <p>
                    <a href="https://www.facebook.com/NTU.CSIE.Council/">系學會粉專</a>
                </p>
                <p>
                    <a href="https://www.csie.ntu.edu.tw/">台大資工官網</a>
                </p>
            </div>
            <div style="width:80vw">
                <h2>
                    活動部
                </h2>
                <h3>介紹</h3>
                <p>AAAAABBBCCCDDEFEFVFEFFERFVFEFVFEWEVF</p>
                <table border="1" style="width: 60vw">
                    <thead>
                        <h3>成員</h3>
                    </thead>
                    <tbody>
                        <tr>
                            <td>成員1</td>
                            <td>成員2</td>
                        </tr>
                        <tr>
                            <td>成員3</td>
                            <td>成員4</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </body>
</html>