<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Projects</h2>
    <table>
      <tr>
        <th>ProjectID</th>
        <th>LabName</th>
        <th>Description</th>
      </tr>
      <% for ( var i = 0 ; i < Projects.length ; i++){ %>
         <tr>
           <td>
             <%= Projects[i].ProjectID  %>
           </td>
           <td>
             <%= Projects[i].LabName  %>
           </td>
           <td>
             <%= Projects[i].Description  %>
           </td>
         </tr>
         <% } %>
    </table>
    <script src="/javascripts/index.vue.js"></script>
  </body>
</html>
