<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>

  <body>
    <form name="modifyproject" action="modify" method="post" accept-charset="utf-8" >
    <input type="hidden" name="ProjectID" value="<%= Projects.ProjectID %>">
      <h1><%= title %></h1>
      <div>
        <label>labname: </label>
        <input type="text" name="LabName" value="<%= Projects.LabName %>" placeholder="<%= Projects.LabName %>">
      </div>
      <div>
        <label>description: </label>
	<textarea name="Description" value="<%= Projects.Description %>"
		  placeholder="<%= Projects.Description %>"><%= Projects.Description %></textarea>
      </div>
      <div>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
        <input type="button" value="Back" onclick="javascript: location.href='/'">
      </div>
    </form>
  </body>

</html>
