<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>

  <body>
    <h1><%= title %></h1>
    <table>
      <tr>
	<th></th>
	<th></th>
        <th>ID</th>
        <th>LabName</th>
        <th>Description</th>
      </tr>
      <tr>
	<form name="addproject" action="projects/add" method="post" accept-charset="utf-8" >
          <td><input type="submit" value="Add"></td>
	  <td><input type="reset" value="Reset"></td>
	  <td></td>
          <td><input type="text" name="LabName" placeholder="labname"></td>
	  <td><textarea name="Description" placeholder="description"></textarea></td>
	</form>
      </tr>
      <% for ( var i = 0 ; i < Projects.length ; i++){ %>
         <tr>
	   <td>
	     <form name="deleteproject" action="projects/delete" method="post" accept-charset="utf-8" >
	       <input type="hidden" name="del" value=<%= Projects[i].ProjectID  %> >
	       <input type="submit" value="Delete">
	     </form>
	   </td>
	   <td>
	     <form name="modifyproject" action="projects/<%= Projects[i].ProjectID  %>"
		   method="get" accept-charset="utf-8" >
	       <input type="submit" value="Modify">
	     </form>
	   </td>
           <td><%= Projects[i].ProjectID  %></td>
           <td><%= Projects[i].LabName  %></td>
	   <td><%= Projects[i].Description  %></td>
         </tr>
         <% } %>
    </table>
    <input type="button" value="Index" onclick="javascript: location.href='/admin/index'">
</body>

</html>
